/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Baze */
:root{
    --main-color: #01996d;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, ul, p{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.container{
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
}

/* Navigation */

.nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
}
.nav__inner {
    display: flex;
    justify-content: space-between;
    padding: 21px 0;
    align-items: center;
}
.logo {
}
.menu {
    display: flex;
    list-style: none;
    gap: 72px;
    margin-right: 112px;
}

.menu li a{
    font-weight: 500;
    color: #292929;
    text-decoration: none;
}

.nav_group {
}

.auth_a {
    text-decoration: none;
    font-family: var(--font-family);
    color: #000;
    margin-right: 32px;
}
.btn {
    background-color: var(--main-color);
    border-radius: 4px;
    border: none;
    font-size: 20px;
    color: #fff;
    padding: 20px 50px;
}
.trial_btn {
    padding: 13px 50px;

}
.nav_divider {
    border-bottom: 1px solid #e6e6e6;
}

@media screen and (max-width: 1400px){
    .container{
        padding: 0 15px;
    }
}

@media screen and (max-width: 1200px){
    .menu{
        display: none;
    }
}

@media screen and (max-width: 576px){
    .auth_a{
        margin-right: 7px;
    }
    .trial_btn{
        padding: 10px 20px;
    }
}

/* Header */
.header {
    min-height: 895px;
    background-image: url(../img/BG.jpg);
    background-size: cover;
    padding-top: 170px;
    background-position: center center;
}
.header h1 {
    font-size: 65px;
    font-family: 'Georgia', serif;
    max-width: 440px;
    color: var(--main-color);
}

.header p{
    max-width: 420px;
    color: #484848;
    padding-top: 34px;
    line-height: 1.47em;
    height: 123px;
    margin-bottom: 50px;
}

.header_btn {
}

@media screen and (max-width: 768px){
    .header {
        min-height: auto;
        padding-bottom: 170px;
    }
}

@media screen and (max-width: 576px){
    .header{
        background-position: left;
        padding: 150px 0;
    }
}

/* Steps */

.steps {
    margin-bottom: 252px;
}
.steps__top {
    display: flex;
    margin-top: 163px;
    justify-content: space-between;
    margin-bottom: 79px;
}

.top__title {
    max-width: 584px;
}

.top__title p{

    color: #424242;
}

.description{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.57em;
}

.top__title h2{

    color: #01996d;
}

.text-h2{
    font-family: 'Georgia', serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.57em;
}

.text-p {
    font-size: 20px;
    line-height: 1.5em;
    color: #424242;
}

.steps__top > p {
    max-width: 649px;
    padding-top: 60px;
    letter-spacing: 0.005em;
}

.steps__bottom {
    display: flex;
    gap: 95px;
}
.bottom-steps-card {
    max-width: 392px;
    position: relative;
    padding-top: 112px;    
}

.bottom-steps-card p{
    margin-bottom: 59px;
    letter-spacing: 0.01em;
}

.card-title {
    font-family: 'Georgia', serif;
    font-size: 30px;
    color: #000;
    margin-bottom: 59px;
}




.card-num {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150px;
    font-weight: normal;
    color: var(--main-color);
    opacity: 0.2;
    top: 0;
}

.bottom-steps-card:nth-child(1) .card-title{
    padding-left: 88px;
}

.bottom-steps-card:nth-child(2) {
    top: 286px;
}

.bottom-steps-card:nth-child(2) .card-title{
    padding-left: 78px;
}

.bottom-steps-card:nth-child(2) p{
    margin-bottom: 40px;
}

.bottom-steps-card:nth-child(2) {
    top: 286px;
}

.bottom-steps-card:nth-child(3) {
    top: 55px;
}


.bottom-steps-card:nth-child(3) .card-title{
    padding-left: 129px;
    margin-bottom: 51px;
}

.bottom-steps-card:nth-child(3) p{
    margin-bottom: 47px;
    width: 420px;
    letter-spacing: 0.002em;
}

.bottom-steps-card:nth-child(3) img{
    border-radius: 12px;
    padding-left: 4px;
}

/* About */

.about {
    background-color: #245852;
}

.about__inner {
    display: flex;
    color: #fff;
    margin: 0 206px;
    padding: 229px 0 175px;
    gap: 31px;
    justify-content: center;
}

.about__left {
    margin-top: 81px;
    max-width: 580px;
}

.about__left p{
    padding-top: 33px;
}

.description {
    font-size: 25px;
}

.about__left .btn{
    margin-top: 57px;
}
.video {
    border-radius: 17px;
}

@media screen and (max-width: 1900px){
    .about__inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 100px 0;
        gap: 60px;
    }
}

/* Diary */

.diary {
}
.diary__inner {
    position: relative;
    margin-top: 120px;
    display: flex;
    gap: 86px;
}

.diary__left {
    margin-left: 60px;
    background-image: url(../img/bg_person.png);
    border-radius: 13px;
    background-repeat: no-repeat;
}


.diary__left img{
    padding-left: 98px;
    padding-right: 112px;
}

.diary__card {
    position: absolute;
    border-radius: 4px;
    width: 296px;
    height: 293px;
    background-color: #fff;
    padding: 25px 55px;
    text-align: center;
    top: 354px;
    -webkit-box-shadow: 0px 7px 55px 0px rgba(143, 148, 152, 0.2);
    -moz-box-shadow: 0px 7px 55px 0px rgba(143, 148, 152, 0.2);
    box-shadow: 0px 7px 55px 0px rgba(143, 148, 152, 0.2);


}
.diary__card-title {
    font-size: 14px;
}
.line {
    border: 0.75px solid #000;
    width: 110px;
    height: 0px;
    margin: 10px auto 0;
}
.person-circle {
    background-image: url(../img/bg_person.png);
    border-radius: 50px;
    margin-top: 12px;
}
.name {
    padding-top: 9px;
    font-size: 11px;
}
.diary-list-name {
    font-family: 'Georgia', serif;
    font-weight: 700;
    font-size: 15px;
    color: #000;
    margin-top: 24px;
}
.list-content {
    text-align: left;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.57em;
    color: #000;
}

.list-content li{
    padding-top: 20px;
    margin-left: 15px;
}

.diary__right h2{
    color: var(--main-color);
    padding-top: 10px;
}
.diary__right p.text-p {
    padding-top: 20px;
    letter-spacing: 0.006em;
}

.diary__right .btn {
    margin-top: 33px;
}
